exportClasses(
              "filehashSQLite"
              )

exportMethods(
              "dbInsert",
              "dbFetch",
              "dbUnlink",
              "dbExists",
              "dbList",
              "dbDelete",
              "dbMultiFetch",
              "dbDisconnect",
              "["
              )
              
importClassesFrom(filehash,
                  "filehash", "filehashDB1", "filehashRDS"
                  )

importFrom(filehash,
           "dbInsert",
           "dbFetch",
           "dbMultiFetch",
           "dbList",
           "dbExists",
           "dbDelete",
	   "registerFormatDB",
           "dbUnlink"
           )

import(methods)
importFrom(RSQLite, "dbDriver")
importFrom(DBI, 
           "dbDriver",
           "dbExecute",
           "dbConnect", 
           "dbDisconnect", 
           "dbUnloadDriver",
           "dbGetQuery"
           )
