exportClasses(
              "filehashSQLite"
              )

exportMethods(
              "dbInsert",
              "dbFetch",
              "dbUnlink",
              "dbExists",
              "dbList",
              "dbDelete"
              )
              
importClassesFrom(filehash, "filehash")

